<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css" type="text/css">
  <title>Weather</title>
</head>
<body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-5 col-md-2 mr-0" href="90-tests/text-09.html" target='slidedeck'>Weather Station</a>
    <input class="form-control form-control-dark w-50" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">Sign out</a>
      </li>
    </ul>
  </nav>
    <div class="col-md-8 col-md-offset-2">
      <div class="wrapper">

      <h2>Find out the weather forecast for: </h2>
        <div class="row item button-text">
          <div class="col-md-6">
            <a href="#" data-city="sydney" class="btn btn-lg btn-block js-get-forecast">Sydney</a>
          </div>
          <div class="col-md-6">
            <a href="#" data-city="melbourne" class="btn btn-primary btn-lg btn-block js-get-forecast">Melbourne</a>
          </div>
      </div>
      <div class="card" id="container">
          <table class="table">
            <tbody id="results">
              <thead>
                <tr>
                   <th>Highest</th>
                   <th>Lowest</th>
                   <th>Weather</th>
                </tr>
              </thead>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
